body {
    background: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-align: center;
}

.step-title {
    color: white;
    margin: 20px;
}

button {
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px 20px;
}
